body {
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
}

.grid-template-main {
  grid-template:
    "welcome" 100vh
    "projects" 1fr;
}

.justify-evenly {
  justify-content: space-evenly;
}

#welcome-section {
  grid-area: welcome;
}

#projects {
  grid-area: projects;
}

.grid-template-projects {
  grid-template: "group links" / 1fr 1fr;
}

.gap {
  gap: 1em;
}
