body {
  font-family: "Roboto", sans-serif;
}

.justify-evenly {
  justify-content: space-evenly;
}

@media only screen and (min-width: 30em) {
  .grid-ns {
    display: grid;
  }

  .grid-template-main-ns {
    grid-template:
      "welcome" 100vh
      "projects" 1fr;
  }

  .grid-template-projects-ns {
    grid-template: "group links" / 1fr 1fr;
  }

  .gap-ns {
    gap: 1em;
  }
}
